body {
  font-family: sans-serif;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  margin: 0;
  background-color: #F47CAA;
  overflow: hidden;
}

.comingSoon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.comingSoon h1 {
  margin-bottom: 0;
  color: white;
  font-size: calc(10vw + 50px);
}

.comingSoon h2 {
  margin-top: 0;
  color: #82CDDD;
  font-size: calc(5vw + 5px);
}

@media only screen and (min-width: 600px) {
  .comingSoon h1:first-child {
    font-size: 100px;
  }
  .comingSoon h1:last-child {
    font-size: 50px;
  }
}

footer {
  color: white;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  font-weight: bold;
}